<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>글 작성</h2>
<form th:action="@{/boards/create}" method="post">
    <label>제목:</label>
    <input type="text" name="title"><br>
    <label>내용:</label>
    <textarea name="content"></textarea><br>
    <label>작성자:</label>
    <input type="text" name="writer"><br>
    <button type="submit">작성</button>
</form>
<a th:href="@{/boards}">목록으로</a>
</body>
</html>
