<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 리스트</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>게시판</h2>
<a th:href="@{/boards/create}">글 작성</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성자</th>
        <th>상세</th>
    </tr>
    <tr th:each="b : ${boards}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.title}"></td>
        <td th:text="${b.writer}"></td>
        <td><a th:href="@{/boards/{id}(id=${b.id})}">보기</a></td>
    </tr>
</table>
</body>
</html>
