<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:if="${message}">
    <script th:inline="javascript">
        alert([[${message}]]);
    </script>
</div>
<div class="card" style="max-width: 800px; margin: 50px auto; padding: 20px; box-shadow: 0 0 10px #ccc;">
    <h2 style="text-align: center;margin-bottom: 20px;margin-top: 20px;">게시판</h2>

    <!-- 로그인 상태 확인 -->
    <div style="text-align: right; margin-bottom: 10px;">
    <span th:if="${loginUser != null}">
        <a th:href="@{/members/logout}"
           style="display: inline-block; padding: 5px 10px; background-color: #f44336; color: white; text-decoration: none; border-radius: 4px; margin-right: 5px;">
            로그아웃
        </a>
        <a th:href="@{/boards/create}"
           style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px;">
            글 작성
        </a>
    </span>
        <span th:if="${loginUser == null}">
        <a th:href="@{/members/login}"
           style="display: inline-block; padding: 5px 10px; background-color: #2196F3; color: white; text-decoration: none; border-radius: 4px;">
            로그인
        </a>
    </span>
    </div>

    <table border="1" width="100%" style="border-collapse: collapse;">
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>작성자</th>
            <th>상세</th>
        </tr>
        <tr th:each="b : ${boards}">
            <td th:text="${b.id}">1</td>
            <td th:text="${b.title}">제목</td>
            <td th:text="${b.writer}">작성자</td>
            <td>
                <a th:href="@{/boards/{id}(id=${b.id})}"
                   style="display: inline-block; padding: 5px 10px; background-color: #2196F3; color: white; text-decoration: none; border-radius: 4px; margin: 7px 0;">
                    보기
                </a>
            </td>
        </tr>
    </table>
    <div style="text-align:center; margin-top:20px;">
        <button th:if="${lastId != null}"
                th:onclick="'location.href=\'/boards?lastId=' + ${lastId} + '\';'">
            더보기
        </button>
    </div>
</div>
</body>
</html>
