<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>글 수정</h2>
<form th:action="@{/boards/{id}/edit(id=${board.id})}" method="post">
    <label>제목:</label>
    <input type="text" name="title" th:value="${board.title}"><br>
    <label>내용:</label>
    <textarea name="content" th:text="${board.content}"></textarea><br>
    <button type="submit">수정</button>
</form>
<a th:href="@{/boards/{id}(id=${board.id})}">취소</a>
</body>
</html>
