<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:if="${message}">
    <script th:inline="javascript">
        alert([[${message}]]);
    </script>
</div>
<div class="card">
    <h2>로그인</h2>
    <form action="/members/login" method="post">
        <input type="text" name="username" placeholder="아이디" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <button type="submit">로그인</button>
    </form>
    <a href="/members/signup">회원가입</a>
</div>
</body>
</html>
