<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>회원가입</h2>
<form th:action="@{/members/signup}" method="post">
    <label>아이디:</label>
    <input type="text" name="username"><br>
    <label>비밀번호:</label>
    <input type="password" name="password"><br>
    <label>이메일:</label>
    <input type="email" name="email"><br>
    <button type="submit">가입</button>
</form>
<a th:href="@{/members/login}">로그인으로</a>
</body>
</html>
